*{
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}
html{
    background-color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display: flex;
    padding: 20px;
    margin-top: 30px;
    gap: 20px;
}

.navbar{
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #808080;
}

body{
    padding: 20px;
}

.navbar > p{
    color: white;
}

.card{
    padding: 30px;
    border: 1px solid #808080;
    border-radius: 10px;
}

.item{
    padding: 20px;
    border: 1px solid #808080;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    border-radius: 3px;
}

.card-container{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

img{
    width: 100px;
}

.profile{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 23px;
}

  
.bottom-card > div{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}


table{
    margin-top: 20px;
    width: 100%;
    border: 2px solid #808080;
    flex-grow: 1;
    border-radius: 10px;
    border-spacing: 0;
    
}
thead{
    border: 1px solid #808080;
}
 td{
    color: #808080;
    padding: 10px;
    border-right: 1px solid grey;
}

thead td{
    border-bottom: 1px solid grey;
}
table td:nth-child(3){
    border-right: none;
}

input{
    width: 20px;
    height: 20px;
    display: none;
}

label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

input:checked + label{
    background-color: gray;
}

td > p{
    color: #808080;
}

@media (max-width: 700px) {
    .container{
        flex-flow: column wrap;
        align-items: center;
    }

    body{
        padding: auto;
    }
}

.mid{
    padding-left: 37px;
}

.big{
    border-radius: 10px;
}

.profile > p{
    font-size: 25px;
    margin-top: 10px;
}

li {
    margin-top: 10px;
}

tr td:nth-child(1), tr td:nth-child(2){
    width: 40px;
    text-align: center;
}